@import "../../../../style/mixins.scss";

#top-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(65, 49, 37);
  color: #e3e3e3; // TODO - Make variables global

  p {
    @include viking-font();
  }

  .player {
    display: flex;
    align-items: center;
  }

  .ulf,
  .ulf .stockpile {
    flex-direction: row-reverse;
  }
}
