<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="../css/main.scss")
        link(href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC', rel='stylesheet')
        //- font-family: 'Carrois Gothic SC', sans-serif;
        link(src='../fonts/norse.otf', rel='stylesheet')
        //- font-family: 'Norse', serif;
        title Traders of the North
    header
    body
        .game-window
            section#message-board 
                p Here Be Content
            section#pot
            .character-portraits#ulf-portrait
                img(src="../img/ulfportrait.png", alt="Ulf the Brave")
            .character-portraits#sigrid-portrait
                img(src="../img/sigridportrait.png", alt="Sigrid the Cunning")
                //- I thik the problem is the file itself
            section.buttonboard#ulf-buttonboard
                .buttons-ind.draw-button#ulf-button-draw
                    p DRAW
                .buttons-ind.bet-button#ulf-button-bet
                    p BET
                .buttons-ind.decline-button#ulf-button-decline
                    p PASS
            section.buttonboard#sigrid-buttonboard
                .buttons-ind.draw-button#sigrid-button-draw 
                    p DRAW
                .buttons-ind.bet-button#sigrid-button-bet
                    p BET
                .buttons-ind.decline-button#sigrid-button-decline
                    p PASS
            //- .buttons-ind.draw-button#ulf-button-draw
            //-     p DRAW
            //- .buttons-ind.bet-button#ulf-button-bet
            //-     p BET
            //- .buttons-ind.decline-button#ulf-button-decline
            //-     p PASS
            //- .buttons-ind.draw-button#sigrid-button-draw 
            //-     p DRAW
            //- .buttons-ind.bet-button#sigrid-button-bet
            //-     p BET
            //- .buttons-ind.decline-button#sigrid-button-decline
            //-     p PASS
            section.player-board#ulf-board
                h3
                .stockpile
                    .gold-stockpile#ulf-gold-stockpile
                        span Gold:
                        span.stockpile-num#ulf-gold-stockpile-number 0
                    .fish-stockpile#ulf-fish-stockpile
                        span Fish:
                        span.stockpile-num#ulf-fish-stockpile-number 0
            section.runeboard#ulf-runeboard
                    .rune#ulf-rune2 
                        img(src="../img/runestones/runestone-2.png", alt="RuneStone 2")
                    .rune#ulf-rune5
                        img(src="../img/runestones/runestone-5.png", alt="RuneStone 5")
                    .rune#ulf-rune6
                        img(src="../img/runestones/runestone-6.png", alt="RuneStone 6")
                    .rune#ulf-rune9
                        img(src="../img/runestones/runestone-9.png", alt="RuneStone 9")
            section.player-board#sigrid-board
                h3
                .stockpile
                    .gold-stockpile#sigrid-gold-stockpile
                        span Gold:
                        span.stockpile-num#sigrid-gold-stockpile-number 0
                    .fish-stockpile#sigrid-fish-stockpile
                        span Fish:
                        span.stockpile-num#sigrid-fish-stockpile-number 0
            section.runeboard#sigrid-runeboard
                    .rune#sigrid-rune3
                        img(src="../img/runestones/runestone-3.png", alt="RuneStone 3")
                    .rune#sigrid-rune4
                        img(src="../img/runestones/runestone-4.png", alt="RuneStone 4")
                    .rune#sigrid-rune7
                        img(src="../img/runestones/runestone-7.png", alt="RuneStone 7")
                    .rune#sigrid-rune8
                        img(src="../img/runestones/runestone-8.png", alt="RuneStone 8")
        script(src="../js/main2.js")