<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="../css/main.scss")
        link(href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC', rel='stylesheet')
        //- font-family: 'Carrois Gothic SC', sans-serif;
        title Traders of the North
    header
        p outside of the game areaasfasdfasdf
    body
        .game-window this is the game window
            section#message-board 
                p Here Be Content
            section#pot
                //- .piece-slot#ps1 1
                //- .piece-slot#ps2 2
                //- .piece-slot#ps3 3
                //- .piece-slot#ps4 4
                //- .piece-slot#ps5 5
                //- .piece-slot#ps6 6
                //- .piece-slot#ps7 7
                //- .piece-slot#ps8 8
            .character-portraits#ulf-portrait
                img(src="../img/ulfportrait.png", alt="Ulf the Brave")
            .character-portraits#sigrid-portrait
                img(src="../img/sigridportrait.png", alt="Sigrid the Cunning")
                //- I thik the problem is the file itself
            section.buttonboard
            .buttons-ind#ulf-button-draw DRAW
            .buttons-ind#ulf-button-bet BET
            .buttons-ind#ulf-button-decline DECLINE
            .buttons-ind#sigrid-button-draw DRAW
            .buttons-ind#sigrid-button-bet BELL
            .buttons-ind#sigrid-button-decline DECLINE
            section.player-board#ulf-board
                h3 Ulf's Board
                .stockpile
                    .gold-stockpile#ulf-gold-stockpile Ulf's Gold Stockpile
                    .fish-stockpile#ulf-fish-stockpile Ulf's Fish Stockpile
            section.runeboard#ulf-runeboard
                    .rune#ulf-rune2 
                        img(src="../img/runestones/runestone-2.png", alt="RuneStone 2")
                    .rune#ulf-rune5
                        img(src="../img/runestones/runestone-5.png", alt="RuneStone 5")
                    .rune#ulf-rune6
                        img(src="../img/runestones/runestone-6.png", alt="RuneStone 6")
                    .rune#ulf-rune9
                        img(src="../img/runestones/runestone-9.png", alt="RuneStone 9")
            section.player-board#sigrid-board
                h3 Sigrid's Board
                .stockpile
                    .gold-stockpile#sigrid-gold-stockpile Sigrid's Gold Stockpile
                    .fish-stockpile#sigrid-fish-stockpile Sigrid's Fish Stockpile
            section.runeboard#sigrid-runeboard
                    .rune#sigrid-rune3
                        img(src="../img/runestones/runestone-3.png", alt="RuneStone 3")
                    .rune#sigrid-rune4
                        img(src="../img/runestones/runestone-4.png", alt="RuneStone 4")
                    .rune#sigrid-rune7
                        img(src="../img/runestones/runestone-7.png", alt="RuneStone 7")
                    .rune#sigrid-rune8
                        img(src="../img/runestones/runestone-8.png", alt="RuneStone 8")
        script(src="../js/main2.js")