<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="../css/main.scss")
        title Traders of the North
    header
        p outside of the game areaasfasdfasdf
    body
        .game-window this is the game window
            section#message-board Here is the Message Board!
            section#pot
                .piece-slot hello I'm the pot
                .piece-slot 2
                .piece-slot 3
                .piece-slot 4
                .piece-slot 5
                .piece-slot 6
                .piece-slot 7
                .piece-slot 8
            section.buttonboard
            .buttons-ind#ulf-button-draw DRAW
            .buttons-ind#ulf-button-bell BELL
            .buttons-ind#ulf-button-decline DECLINE
            .buttons-ind#sigrid-button-draw DRAW
            .buttons-ind#sigrid-button-bell BELL
            .buttons-ind#sigrid-button-decline DECLINE
            section.player-board#ulf-board
                h3 Ulf's Board
                .stockpile
                    .gold-stockpile#ulf-gold-stockpile Ulf's Gold Stockpile
                    .fish-stockpile#ulf-fish-stockpile Ulf's Fish Stockpile
            section.runeboard#ulf-runeboard
                    .rune#ulf-rune2 
                        img(src="../img/runestones/runestone-2.png", alt="RuneStone 2")
                    .rune#ulf-rune5
                        img(src="../img/runestones/runestone-5.png", alt="RuneStone 5")
                    .rune#ulf-rune6
                        img(src="../img/runestones/runestone-6.png", alt="RuneStone 6")
                    .rune#ulf-rune9
                        img(src="../img/runestones/runestone-9.png", alt="RuneStone 9")
            section.player-board#sigrid-board
                h3 Sigrid's Board
                .stockpile
                    .gold-stockpile#sigrid-gold-stockpile Sigrid's Gold Stockpile
                    .fish-stockpile#sigrid-fish-stockpile Sigrid's Fish Stockpile
            section.runeboard#sigrid-runeboard
                    .rune#sigrid-rune3
                        img(src="../img/runestones/runestone-3.png", alt="RuneStone 3")
                    .rune#sigrid-rune4
                        img(src="../img/runestones/runestone-4.png", alt="RuneStone 4")
                    .rune#sigrid-rune7
                        img(src="../img/runestones/runestone-7.png", alt="RuneStone 7")
                    .rune#sigrid-rune8
                        img(src="../img/runestones/runestone-8.png", alt="RuneStone 8")