.rune {
  width: 20vw;
  margin: 0 1%;

  transition: ease-in-out;
  transition-duration: 0.25s;
}

.selectable {
  // background-color: green;
  transform: translateY(-170px);
  transition: ease-in-out;
  transition-duration: 0.25s;
}