@import "../../../../style/mixins.scss";

#pot-board {
  transform: translateY(-8vh);

  // TODO - Refactor opportunity
  // This can be refactored to use `@include center-me()`
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .piece {
    $p: calc(32px + 18vw); 
    padding: -40px 1.15vw;
    width: $p;
    height: $p;
  }
}
