#pot-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // FIXME - The pieces do not act like align-items: center
  // should

  .piece {
    // TODO - Make pieces transition when new piece is added

    $p: calc(32px + 25vw); 
    padding: 1.15vw;
    width: $p;
    height: $p;
  }
}
