@import "../../../../../style/mixins.scss";

.stockpile {
    @include center-me();
    
    .gold-fish-col {
        @include rowdies-font();
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        font-size: calc(6px + 1vh);
    }
    
    .stockpile-score {
        @include viking-font();
        display: block;
        font-size: calc(4px + 4vh);
        padding: 0 calc(8px + 1vh);
    }
}