$dev-c: rgba(255, 0, 0, 0.082);
#Game {
  background-color: $dev-c;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
  /*
  p = pot
  i = action board, runeboard and buttonboard flexed above each other as things become available
  o = button bar
  a = player stockpile
  b = opponent stockpile
  e = player available runes
  f = opponent available runes
  s = player portrait
  t = opponent portrait
  */

  "s s . . . . t t"
  "s s p p p p t t"
  "a e p p p p f b"
  "a e p p p p f b"
  "a e p p p p f b"
  "a e p p p p f b"
  "o . p p p p . ."
  ". . p p p p . ."
  "i i i i i i i i"
  "i i i i i i i i"
  "i i i i i i i i"
  "i i i i i i i i"
  "i i i i i i i i"
  "i i i i i i i i"
  ;

  #player-portrait {
    grid-area: s;
    background-color: $dev-c;
  }

  #opponent-portrait {
    grid-area: t;
    background-color: $dev-c;
  }

  #player-stockpile {
    grid-area: a;
    background-color: $dev-c;
  }

  #opponent-stockpile {
    grid-area: b;
    background-color: $dev-c;
  }

  #player-available-runes {
    grid-area: e;
    background-color: $dev-c;
  }

  #opponent-available-runes {
    grid-area: f;
    background-color: $dev-c;
  }

  #btn-bar {
    grid-area: o;
    background-color: $dev-c;
  }

  #pot {
    grid-area: p;
    background-color: $dev-c;
  }

  #action-board {
    grid-area: i;
    background-color: $dev-c;
  }

}
