$dev-c: rgba(255, 0, 0, 0.185);
#Game {
  background-color: $dev-c;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:

  /* SECTION ---

      NOTE - The purpose of the cutdown is that not everything needs to 
      be explicitly defined in a grid, and would actually make the code
      easier if things rellied a little bit on Flexbox within the grids.
      I.e., Stockpile and menu being their own thing within the Bottom
      Board.

  m = Top Board
    Contains the mini portraits, stockpile, and available runes.

  s = Sigrid Portrait Anchor
    A place where the portrait will be anchored from, extending well
    into the bottom of the game window.
  
  u = Ulf Portrait Anchor
    A place where the portrait will be anchored from, extending well
    into the bottom of the game window.
  
  p = Pot Board

  a = Action Board
    This will be the area the Rune Board and Pass button swaps out with 
    the Draw and Bet button depending on what's happening.
  
  b = Bottom Board
    Menu options and config
  */

  "t t t t t t t t t t t t"
  "s p p p p p p p p p p u"
  ". p p p p p p p p p p ."
  ". p p p p p p p p p p ."
  ". p p p p p p p p p p ."
  ". p p p p p p p p p p ."
  ". p p p p p p p p p p ."
  ". p p p p p p p p p p ."
  "a a a a a a a a a a a a"
  "a a a a a a a a a a a a"
  "a a a a a a a a a a a a"
  "b b b b b b b b b b b b";

  #top-board {
    grid-area: t;
    // background-color: $dev-c;
  }

  #sigrid-char-anchor {
    grid-area: s;
    background-color: $dev-c;
  }

  #ulf-char-anchor {
    grid-area: u;
    background-color: $dev-c;
  }

  #pot-board {
    grid-area: p;
    background-color: $dev-c;
  }

  #action-board {
    grid-area: a;
    background-color: $dev-c;
  }

  #bottom-board {
    grid-area: b;
    background-color: $dev-c;
  }

}
