@import "../../../style/colors.scss";
@import "../../../style/mixins.scss";

$url-dashboard: "../../../res/misc/dashboard.png";

#Game {
    @include fill-screen();

    display: flex;
    flex-direction: column;

    #scoreboard {
        flex-grow: 0;
        background-color: green;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        padding: 6px;

        .stockpile {
            margin: auto 0;

            p {
                font-size: 1rem;
            }
        }

        .score {
            margin: auto 10px;

            p {
                font-size: 2rem;
            }
        }

        .viking-score {
            display: flex;
        }
    }

    #pot {
        flex-grow: 10;
        background-color: yellow;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;

        > img {
            // FIXME -- 
            // Cannot change width of the pot items inside the flex-grow.
            min-width: none;
            margin: 10px;
        }
    }

    #actionboard {
        flex-grow: 2;
        background-image: url($url-dashboard);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        background-color: lightblue;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}
