@import "../../../../style/colors";

#sidemenu {
  position: absolute;
  left: 0;
  width: 22vw;
  height: 45vh;
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // TODO - This can be done with background shorthand.
  background-image: url("../../../../res/img/sidepanel.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  i {
    color: $wht;
  }
}
