
@function get-horizontal-offset($b) {
  // TODO - Create functionality so that the portraits
  // will translate away from center as screen width gets
  // smaller, and translates towards center as the 
  // screen's width get larger.

  @return $b;
}

.Title {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url("../../../res/img/village.jpeg");
  background-repeat: none;
  background-size: cover;

  // > * {
  //   position: relative; // For overflow: hidden to work, all parent elements need to be relative.
  // }

  .selection {
    margin-top: 45px;
  }

  .selection, .selection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    img {
      height: 16vh;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    img {
      height: 25vh;
    }
  }
}

#sigrid, #ulf {

}

#sigrid {

}

#ulf {

}


  // #sigrid {
  //   grid-column: sigrid-area / span 1;
  //   grid-row: 1 / span 2;

  //   img {
  //     z-index: 3;
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;

  //     height: calc(100%  + 5vh);
  //     transform: translate(get-horizontal-offset(-50px), 80px);
  //   }
  // }

  // #ulf {
  //   grid-column: ulf-area / span 1;
  //   grid-row: 1 / span 2;

  //   img {
  //     z-index: 2;
  //     position: absolute;
  //     top: 0;
  //     right: 0;

  //     height: calc(100% + 5vh);
  //     transform: translate(get-horizontal-offset(100px), 40px);
  //   }
