
// @function get-vert-slide($width, $base-vw: 1292px) {
//   $
// }

.Title {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: [sigrid-area] 10vw [center-area] 1fr [ulf-area] 10vw;
  grid-template-rows: 1fr 1fr;

  > * {
    display: flex;
    position: relative;
  }

  #logo {
    background-color: red;
    grid-column: center-area / span 1;
    grid-row: 1 / span 1;

    z-index: 1;
    justify-content: center;

    img {
      width: 50vw;
      max-width: 700px;
      min-width: 404px;
    }
  }

  #selection {
    grid-column: center-area / span 1;
    grid-row: 2 / span 1;

    z-index: 4;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  $vert-offset: 20vh;
  $height: 120vh;
  $min-width: 500px;


  #sigrid {
    background-color: green;
    grid-column: sigrid-area / span 1;
    grid-row: 1 / span 2;

    img {
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;

      height: $height;
      min-width: $min-width;
      transform: translate(-100px, $vert-offset );
    }
  }

  #ulf {
    background-color: yellow;
    grid-column: ulf-area / span 1;
    grid-row: 1 / span 2;

    img {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;

      height: $height;
      min-width: $min-width;
      transform: translate(120px, $vert-offset);

    };
  }
}
