#action-board {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // background-color: blue;

  #draw-bet-container {
    // background-color: pink;
    // position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #button-select-area {
    background-color: coral;
  }

  #action-board-background {
    // background-color: green;
    
    position: fixed;
    max-width: 950px;
    width: 100%;
    bottom: 0;
  }
}