/*
    NOTE
    Cannot use _colors.scss file name with @use because node-sass
    does not support. Continue doing colors.scss and @import
*/

$blk: #333333 !default;
$bwn: #311f15 !default;
$wht: #e0e0e0 !default;
