@import "../../../style/mixins.scss";
@import "../../../style/colors";

// NOTE - Because there's both an Instructions and About page,
// I should probably just make this one SCSS file.



#about {
  @include use-viking-village-background();
  height: 100vh;
  width: 100vw;

  section {
    max-width: 620px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-content: center;
  }


  h1 {
    @include viking-font(50px);
  }

  p {
    @include rowdies-font();
    font-weight: 300;
  }
}
