.game-window {
    max-width: 950px;
    margin: 0 auto;

    #ulf-board {
        background-color: lightblue;
    }
    #sigrid-board {
        background-color: lightblue;
    }
    .player-board {
        .stockpile {
            .gold-stockpile {

                #ulf-gold-stockpile {

                }
                #sigrid-gold-stockpile {

                }
            }
            .fish-stockpile {
                #ulf-fish-stockpile {

                }
                #sigrid-fish-stockpile {

                }
            }
        }
        .runeboard {
            background-color: rgb(43, 31, 18);
            img {
                max-height: 50px;
            }
        }
    }
}


