@import "../ActionBoard/ActionBoard.scss";
// NOTE - I think it would be more effecient to put the offset
// variable into a _.scss file and @use it.

.rune {
  width: 20vw;
  margin: 0 1%;
  transition: ease-in-out;
  transition-duration: 0.45s;
}

.topboard-rune {
  width: 50px;
  margin: auto 5px;
}

.selectable {
  transform: translateY(-$rune-offset - 26.75vh);
  transition: ease-in-out;
  transition-duration: 0.45s;
}