@import "../../../../style/mixins.scss";
@import "../../../../style/colors";

.person-card {
  font-family: "Rowdies", cursive;
  color: $bwn;
  display: flex;
  flex-direction: row;
  max-height: 350px;
  max-width: 35vw;
  padding: 32px 16px;

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 28px;
  }

  h2 {
    @include rowdies-font(42px);
  }

  h3 {
    @include rowdies-font(25px);
  }

  i {
    padding-top: 14px;
    //   margin: 0 auto;
  }
}
